epgstation/config/*
!epgstation/config/*.js
!epgstation/config/*.template
epgstation/data/*
epgstation/logs/*
epgstation/thumbnail/*

mirakurun/config/*
mirakurun/data/*
!mirakurun/config/server.yml
!mirakurun/config/tuners.yml

!.gitkeep

.env